/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.footer {
	margin-top: 60px;
	background-color: #000;
	padding-top: 30px;
	bottom: 0px;
	height: 80px;

	border: 2px solid #111;
}
.sub-footer {
	background-color: #222;
	color: #888;
	bottom: 0px;
   	height: 45px;
}
.footer-links {
	padding-top: 10px;
	padding-left: 40px;
}
.logo-footer {
	padding-left: 40px;
	padding-top: 5px;
}
.back-top {
	color: #666;
}
.panel-grande {
	overflow: scroll;
	margin-bottom: 20px;	
}