<h1>Bienvenido a panel de control</h1>

<%= current_usuario.email %><br></br>

<%= link_to "Manejo Personas", :manejo_personas %>
<%= link_to "Manejo Recintos", :manejo_recintos %>
<%= link_to "Manejo Ãreas", :manejo_areas %>