<%= form_for @area, :html => { :class => 'form-horizontal' } do |f| %>
  
  <h4>Indique especiealidad del área médica</h4>
  <%= f.text_field :especialidadArea, :class => 'text_field', :required => :true %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                areas_path, :class => 'btn' %>
  </div>
<% end %>
