<div class="panel panel-default">
  <div class="panel-heading">
    <ol class="breadcrumb">
    <li><a href="/"><h4>Panel de control</h4></a></li>
    <li><h4>/</h4></li>
    <li><a href="/asignaciones"><h4>Administrar Asignaciones</h4></a></li>
    <li class="active"><h4>/ Registrar Asignación</h4></li>
  </div>
  <div class="panel-body"> 

		<%- model_class = Asignacione -%>
		<h3>Registrando asignaciones</h3>
		<%= render :partial => 'form' %>

	</div>
</div>